<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HOME - UPT</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <!-- 헤더 -->
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('index')}}">
              UPT<span>　Your Personal Training</span>
            </a>
          </div>
          <div class="navbar-collapse">
            <ul class="navbar-right">
              <li>
                <a class="nav-link" href="https://github.com/JooEHyeon/UPT">
                  <img
                    class="icon"
                    src="../static/images/github-logo.png"
                    alt="UPT git hub"
                  />
                </a>
              </li>
              <li>
                <a
                  class="nav-link"
                  href="https://meet.google.com/der-egzs-cns?hma=1&hmv=1"
                >
                  <img
                    class="icon"
                    src="../static/images/meet-icon.png"
                    alt="UPT google meet"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- 메인 -->
      <div class="container-full">
        <section class="banner">
          <div class="banner-img">
            <img
                src="../static/images/img_main_1.jpg"
                alt="plank pose background image"
              />
          </div>
          <div class="banner-content">
            <h1>
              Your Personal Training <strong>UPT</strong>
            </h1>
            <span>당신의 운동자세를 분석해드립니다.</span>
            <ul>
              <li>
                <a href="{{ url_for('desc') }}" class="move-btn">
                  Get Started  →
                </a>
              </li>
            </ul>
          </div>
        </section>
        </div>
      </div>
      <!-- 메인 끝 -->
    </main>
    <footer>
      <!-- 푸터 -->
      <div class="container">
        <div class="pull-right">
          <div class="copyright">
            © 2020 Team
            <span>Gloo-Gloo</span>, JH Park, SC Park, KJ Yoon, JH Jeon
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
