<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>START - UPT</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header>
      <!-- 헤더 -->
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('index')}}">
              UPT<span>　Your Personal Training</span>
            </a>
          </div>
          <div class="navbar-collapse">
            <ul class="navbar-right">
              <li>
                <a class="nav-link" href="https://github.com/JooEHyeon/UPT">
                  <img
                    class="icon"
                    src="{{url_for('static',filename='images/github-logo.png')}}"
                    alt="UPT git hub"
                  />
                </a>
              </li>
              <li>
                <a
                  class="nav-link"
                  href="https://meet.google.com/der-egzs-cns?hma=1&hmv=1"
                >
                  <img
                    class="icon"
                    src="{{url_for('static',filename='images/meet-icon.png')}}"
                    alt="UPT google meet"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- 메인 -->
      <div class="container">
          <section class="desc-section">
              <div class="row">
                <div class="col-md-6 text-left col-z-index">
                    <div class="ready-section">
                        <h1 class="title">자세를 <br>맞춰주세요.</h1>
                    </div>
                    <div class="stop-section">
                        <h1 class="title">OK!</h1>
                        <ul class="desc">
                            <li>운동을 시작하세요!</li>
                            <li>
                                
                                <input type="button" id="stopBtn" value="STOP"/>
                                <!-- <button id="stopBtn">STOP</button> -->
                            </li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-md-6">
                  <div id="loading">
                      Loading the model...
                  </div>
                   <div id='main' style='display:none'>
                      <video id="video" playsinline style=" -moz-transform: scaleX(-1);
                      -o-transform: scaleX(-1);
                      -webkit-transform: scaleX(-1);
                      transform: scaleX(-1);
                      display: none;
                      ">
                      </video>
                      <canvas id="output" />
                  </div>
                </div>
             </div>
            </section>
        </div>
      </div>
      <!-- 메인 끝 -->
    </main>
    <footer>
      <!-- 푸터 -->
      <div class="container">
        <div class="pull-right">
          <div class="copyright">
            © 2020 Team
            <span>Gloo-Gloo</span>, JH Park, SC Park, KJ Yoon, JH Jeon
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ static_url_for('static',filename='dist/bundle.js') }}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
</html>
